@import "variable","base","mixin","class";

html {
  font-size: 62.5%;
  color:  $color-text-black;
  font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;

}
