// 颜色定义规范 d表示加深一下 l表示在加深

//背景颜色
$color-background:#ffffff;
$color-background-d:#ededed;
$color-background-dd:#eee;
$color-background-red:#c60000;
$color-background-blue:#317ee7;
$color-background-gray:#707070;
$color-background-gray-l:#cccccc;


//字体颜色
$color-text-black:#000000;



//点击样式
$color-text-active-orange:#F9845B;

//边框颜色
$color-border-red-d:#dd5862;




//头部header颜色
$color-nav-text: #fff;
$color-nav-text_active: #fff;
